*{
  background-color: rgb(105, 104, 172);
  color: white;
  
}

.container {
  padding: 0 1rem;
}

.joke-container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 75px;
}

.joke {
  font-size: 20px;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  position: relative;
  background-color: blueviolet;
  border: blueviolet;
}

.btn-icon {
  margin-left: 0.5rem;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.spinner {
  animation: spin 1s linear infinite;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

.footer-text {
  font-size: 14px;
}

.footer-text a {
  color: white;
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .joke-container {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .btn {
    width: 100%;
  }
}
